@import "tailwindcss";


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --theme-primary: #18345d;
  --theme-background: #fbfbfa;
  --theme-select: #0056b3;
  --theme-text: black;
  --english-sans-serif-font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  --hebrew-sans-serif-font-family: "Heebo", "Roboto", sans-serif;
  --english-serif-font-family: "Cardo", "Meltho", "HebrewInEnglish Serif Font", "adobe-garamond-pro", "Crimson Text", Georgia, "Times New Roman", serif, "Noto Sans Samaritan";
  --hebrew-serif-font-family: "Noto Color Emoji", "EnglishInHebrew Serif Font", "Cardo", "Taamey Frank", "adobe-garamond-pro", "Crimson Text", "Times New Roman", serif;
  --serif-h1-font-size: 48px;
  --serif-h2-font-size: 30px;
  --serif-h3-font-size: 24px;
  --serif-body-font-size: 18px;
  --serif-small-font-size: 14px;
  --sans-serif-h1-font-size: 40px;
  --sans-serif-h2-font-size: 30px;
  --sans-serif-h3-font-size: 22px;
  --sans-serif-body-font-size: 16px;
  --sans-serif-small-font-size: 14px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
